@import '../../styles/mixin.scss';

.container {
  @include main-center;

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    h5 {
      margin: 0;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 0.5rem;
      margin-bottom: 4px;
    }
  }

  .hash {
    @include mono-font;
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
    word-break: break-all;
    user-select: none;

    svg {
      margin-left: 8px;
    }
  }
}

.list {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  @media screen and (max-width: 1024px) {
    border-radius: 0.5rem;
  }
}
