$size: 16px;
$border-size: $size/7;
$color: var(--primary-color);

.container {
  position: relative;
  top: calc(50% - $size);
  left: calc(50% - $size);
  width: 2 * $size;
  height: 2 * $size;
  border-radius: 50%;
  perspective: 800px;

  & > div {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  div:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: $border-size solid $color;
  }

  div:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: $border-size solid $color;
  }

  div:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: $border-size solid $color;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
