.container {
  font-size: inherit;

  span {
    padding-right: 6px;
  }
  button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    color: inherit;
    padding: 0;

    svg {
      margin: 0;
    }
  }
}
