@import '../../styles/mixin.scss';

.container {
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
  &[data-is-filter-unnecessary='true'] {
    th {
      svg {
        display: none;
      }
    }
  }
}
.direction {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.method {
  width: min-content;
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  color: var(--primary-text-color);
  padding: 6px 8px;
  background: #fafafa;
  line-height: 1;
  border-radius: 8px;
  user-select: all;
  cursor: default;
}

.noRecords {
  @include empty-list;
}
