@import '../../styles/mixin.scss';

.container {
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
  &[data-is-filter-unnecessary='true'] {
    th {
      svg {
        display: none;
      }
    }
  }
}
.direction {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.method {
  @include tx-method;
}

.noRecords {
  @include empty-list;
}
