@import '../../styles/mixin.scss';

.container {
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
  th {
    .methodHeader .ageHeader,
    .blockHeader,
    .fromHeader,
    .toHeader {
      column-gap: 4px;
      display: flex;
      align-items: center;
    }
  }
  &[data-is-filter-unnecessary='true'] {
    th {
      svg {
        display: none;
      }
    }
  }
}
.direction {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.method {
  @include tx-method;
  &[data-is-native-transfer] {
    color: var(--secondary-text-color);
    pointer-events: none;
    &:after {
      content: 'Send';
    }
  }
}

.noRecords {
  @include empty-list;
}
