.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;

  a {
    color: #333333;
  }

  @media screen and (max-width: 1024px) {
    padding-right: unset;
  }

  text-transform: initial;
  .logo-domain {
    max-width: 134px;
    height: 24px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
  .domain {
    display: flex;
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
    &:hover {
      color: var(--primary-color);
    }
  }
  & img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 4px;
  }
}
