@import '../../styles/mixin.scss';

.container {
  .hash {
    display: flex;
    align-items: center;
    font-weight: 500;
    a {
      padding-right: 4px;
    }
  }
}

.method {
  @include tx-method;
}

.ids,
.amounts {
  display: flex;
  flex-direction: column;
}

.noRecords {
  @include empty-list;
}
