.content {
  ul {
    list-style: none;
    padding-inline-start: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
    li {
      list-style-type: none;
      position: relative;
    }
    li span {
      color: #333;
    }
    li::before {
      position: absolute;
      display: inline-block;
      top: 6.5px;
      left: -12px;
      content: '';
      width: 0;
      height: 0;
      border: 4px solid;
      border-radius: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    ul {
      padding-inline-start: 10px;
      li::before {
        top: 6.4px;
        left: -10px;
        border: 3px solid;
      }
    }
  }
}
