.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  & span {
    flex: 1 0 auto;
  }
  & div {
    display: flex;
    column-gap: 0.75rem;
    height: 1.5rem;
    & svg:hover {
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
    }
  }
  :global(.tooltip::before) {
    white-space: nowrap;
  }

  @media screen and (max-width: 1024px) {
    .submitted::before {
      transform: translate(-80%, -100%);
    }
  }
}
.item-dd-cls {
  color: var(--primary-color);
}
