.container {
  @apply bg-black overflow-hidden relative;
  margin-top: var(--footer-mt);
  height: var(--footer-height);
}

.links {
  @apply mx-auto flex flex-wrap mt-8 font-bold text-sm;
  width: 300px;
  & a {
    @apply w-1/2 text-white text-center pb-2 opacity-60 hover:opacity-100;
    flex-shrink: 0;
  }
}

.copyright {
  @apply w-full font-bold text-xs text-white opacity-60 text-center absolute bottom-5;
}

@media screen and (min-width: 768px) {
  .container {
    height: var(--footer-height-md);
  }
  .links {
    @apply w-full flex-nowrap justify-center items-center divide-x divide-white divide-opacity-50 mt-9;

    & a {
      @apply w-auto pb-0 px-3;
      line-height: 8px;
    }
  }
  .copyright {
    @apply bottom-8;
  }
}
