.container {
  @apply absolute flex items-stretch h-9 rounded-md overflow-hidden ring-1 ring-white;
  & .toggle {
    @apply hidden;
  }

  & .icon {
    @apply flex items-center bg-white px-2 absolute h-full rounded-md;
  }

  &:focus-within {
    @apply ring-secondary;
    & .icon {
      @apply hidden;
    }
    & input {
      @apply pl-2;
    }
  }

  & input {
    @apply flex-1 text-sm pl-9 pr-2 rounded-none;
    width: 279px;
  }

  & button {
    @apply bg-black text-white w-16 flex justify-center items-center leading-none;
  }

  &[attr-position='home'] {
    transform: translate(-50%, 88px);
    left: 50%;
  }

  &[attr-position='middle'] {
    transform: translateX(-50%);
    top: 120px;
    left: 50%;
  }

  &[attr-position='header'] {
    z-index: 999;
    position: fixed;
    top: 10px;
    right: 16px;
    & button {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    & input {
      width: 320px;
    }
    &[attr-position='middle'] {
      top: 144px;
    }
  }

  @media screen and (min-width: 1280px) {
    &[attr-position='header'] {
      right: calc(50% - 624px);
    }
  }

  @media screen and (max-width: 768px) {
    /* mobile */
    &[attr-position='header'] {
      transition: height 0.2s linear;
      top: 69px;
      width: calc(100% - 32px);
      & .toggle {
        display: flex;
        filter: invert(1);
        color: #fff;
        z-index: 999;
        position: fixed;
        top: 16px;
        right: 16px;
      }
      & button {
        display: flex;
      }
      &::after {
        z-index: -1;
        position: fixed;
        top: 56px;
        left: 0;
        content: '';
        display: block;
        height: 64px;
        width: 100%;
        background-color: #333;
      }
    }
    &[attr-position='header'][attr-display='false'] {
      @apply ring-0;
      max-height: 0;
      &::after {
        display: none;
      }
    }
  }
}
