.container {
  justify-content: center;
  input {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    height: 2rem;
    width: 300px;
    padding: 10px;
    color: #fff;
  }
}

.result {
  margin-top: 5px;
  min-width: 300px;
  z-index: inherit;
  color: #000;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
  padding: 10px 15px;
}
