.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  text-transform: uppercase;
  width: 3rem;
  height: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 23px;
  font-family: Helvetica, Arial, sans-serif;
  margin-right: 4px;
  user-select: none;

  &[data-type='out'] {
    color: #f3b515;
    background: #faf0e1;
  }
  &[data-type='in'] {
    color: #2bd56f;
    background: #f0fcf1;
  }
  &[data-type='self'] {
    color: #555;
    background: #e5e5e5;
  }
}
