$size: 2rem;
$offset-x: 10px;
$offset-y: 6px;

.token,
.origin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  z-index: 1;
  object-fit: contain;
  width: $size;
  height: $size;
  background: #f9f8ff;
  border-radius: 100%;
}

.origin {
  width: 0.68 * $size;
  height: 0.68 * $size;
  background: #f0f0f0;
  z-index: 0;
}

.overlap {
  width: calc($size - 2px + $offset-x);
  height: calc($size - 2px + $offset-y);
  position: relative;
  .origin,
  .token {
    position: absolute;
    transition: transform 0.3s;
  }
  .origin {
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 2px #00000033);
    transform-origin: 110% 110%;
  }
  .token {
    top: $offset-y;
    left: $offset-x;
    filter: drop-shadow(0px 0px 2px #00000033);
    transform-origin: -10% -10%;
    width: calc($size - 2px);
    height: calc($size - 2px);
    border: 1px solid #fff;
  }

  &:hover {
    .origin,
    .token {
      transform: scale(1.3);
      filter: drop-shadow(0px 0px 4px #00000033);
      border: none;
    }
  }
  .tooltip::before {
    font-size: 0.875rem;
  }
}
