@import '../../styles/mixin.scss';

.name {
  display: flex;
  align-items: center;
  a {
    margin-right: 8px;
  }
}

.type {
  text-transform: capitalize;
}

.tableHeader,
.tableBody {
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
}

.amount {
  display: inline-flex;
  user-select: all;
}

.frac {
  color: #aaa;
}

.symbol {
  margin-left: 0.25rem;
}

.noRecords {
  @include empty-list;
}
