@import '../../styles/mixin.scss';

.name {
  display: flex;
  align-items: center;
  a {
    margin-right: 8px;
  }
}

.type {
  text-transform: capitalize;
}

.tableHeader,
.tableBody {
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
}

.amount {
  display: inline-flex;
  user-select: all;
}

.frac {
  color: var(--amount-frac-color);
}

.symbol {
  margin-left: 0.25rem;
}

.noRecords {
  @include empty-list;
}

.logo {
  min-width: 40px;
  text-align: center;
  img {
    margin: 0 auto;
  }
}

.balance {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    height: 17px;
    svg {
      margin-left: 0.25rem;
      cursor: pointer;
    }
  }
}
