.address {
  a {
    @media screen and (min-width: 1024px) {
      span:last-of-type {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      span:first-of-type {
        display: none;
      }
    }
  }
}
