.container {
  th {
    text-transform: capitalize;
  }
  th,
  td {
    &:last-child {
      text-align: right;
    }
  }
}
.address {
  a {
    @media screen and (min-width: 1024px) {
      span:last-of-type {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      span:first-of-type {
        display: none;
      }
    }
  }
}

.tokenLogo {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.index {
  display: flex;
  align-items: center;
  svg {
    cursor: pointer;
    margin-left: 8px;
    &[data-order='DESC'] {
      transform: rotate(0.5turn);
    }
  }
}

.from,
.to {
  display: flex;
  align-items: center;
}
