@layer components {
  .main-container {
    @apply flex flex-col mx-auto w-full p-4;
    @apply xl:max-w-7xl;
  }
}

@layer components {
  .list-container {
    @apply bg-white rounded-md shadow-md;
  }
  .list-header {
    @apply flex items-center px-4 py-1.5 border-b border-light-grey;
    @apply text-sm font-bold capitalize text-ink;
    & > span {
      @apply ml-1;
    }
  }
  .list-item-container {
    @apply mx-4 px-2 py-5 text-sm leading-default hover:bg-hover-bg;
  }
  .list-datetime {
    @apply text-xs text-dark-grey;
  }
}

@layer components {
  .card-container {
    @apply bg-white rounded-md shadow-md p-4 mt-4 pb-1;
  }
  .card-header {
    @apply border-b border-light-grey pb-2.5;
    @apply text-xl leading-default font-bold capitalize;
    & > span {
      @apply font-light ml-2;
    }
  }
  .card-subheader {
    @apply font-bold text-base text-dark-grey border-b border-light-grey pb-3 capitalize;
    & span {
      @apply font-normal text-black ml-2;
    }
  }
  .card-fieldset {
    @apply md:w-1/2 md:odd:pr-4 md:even:pl-4;
  }
  .card-field {
    @apply flex justify-between items-center border-b border-dashed border-light-grey py-2.5 text-sm;
    @apply md:border-0 md:first:pt-0 md:last:pb-0;

    &[attr-last='true'] {
      @apply last:border-0;
    }

    & > span {
      @apply overflow-ellipsis overflow-hidden;
    }

    & a {
      @apply overflow-ellipsis overflow-hidden;
    }
  }
  .card-label {
    @apply flex items-center flex-shrink-0 mr-2;
    @apply select-none text-sm text-dark-grey capitalize whitespace-nowrap;
  }
}

@layer components {
  .tx-type-badge {
    @apply flex justify-center items-center bg-tag-secondary border border-tag-primary;
    @apply text-tag-primary font-bold capitalize;
    border-radius: 4px;
    font-size: 10px;
    padding: 0 4px;
    height: 17px;
  }
  .script-type-badge {
    @apply tx-type-badge;
  }
}

@layer components {
  .script-code {
    @apply flex w-full text-dark-grey bg-code-bg font-bold text-xs p-1;
  }
}

@layer components {
  .inverted-icon {
    filter: invert(1);
  }
}

@layer components {
  .pager {
    @apply flex w-full justify-between items-center mt-3 text-xs font-normal text-dark-grey sm:max-w-xs sm:ml-auto;
    & a,
    & button {
      @apply flex justify-center items-center bg-white text-light-grey rounded-md border border-light-grey;
    }
    & img {
      @apply pointer-events-none cursor-pointer;
    }

    & .links {
      @apply flex;
      & a {
        width: 30px;
        height: 30px;
        &:hover {
          @apply bg-secondary text-white border-white;
          & img {
            filter: brightness(1000);
          }
        }
        & > div {
          pointer-events: none;
        }
      }
      &[attr-disable='true'] {
        @apply opacity-60 pointer-events-none;
      }
    }
    & .links:first-child {
      & a:first-child {
        @apply hidden mr-2 md:flex;
      }
    }
    & .links:last-child {
      & a {
        transform: rotate(0.5turn);
      }
      & a:last-child {
        @apply hidden ml-2 md:flex;
      }
    }

    & button {
      @apply px-1 text-dark-grey;
      min-width: 40px;
      height: 30px;
      margin-left: 6px;
    }

    & form {
      @apply flex items-center;
    }
    & input {
      color: #000;
      width: 58px;
      height: 30px;
      margin: 0 6px;
      padding: 0 4px;
      border: 1px solid #ccc;
    }
  }
}

@layer components {
  .notFound,
  .errorPage {
    width: 343px;
    @apply whitespace-pre-line text-sm font-normal text-dark-grey leading-default mt-32 w-80 mx-auto md:mt-36 md:w-96;
  }
}

@layer components {
  .statistic-container {
    @apply flex flex-wrap w-full z-10 px-4 rounded-md bg-gradient-to-r from-secondary to-primary shadow-md  md:px-0 md:py-4;
    @apply text-white divide-y divide-white divide-opacity-20 md:divide-y-0 md:divide-x;
    margin-top: 100px;
    @media screen and (min-width: 768px) {
      margin-top: 116px;
    }
  }
}

@layer components {
  .home-bg {
    @apply absolute top-0 left-0 w-full;
    background-color: #161616;
    height: 296px;
  }
}

@layer components {
  .hashLink {
    @apply flex-1 font-bold overflow-hidden overflow-ellipsis;
  }
  .hashLink::before {
    content: '#';
    @apply text-black font-normal pr-0.5;
  }
}
