@layer components {
  .main-container {
    @apply flex flex-col mx-auto w-full p-4;
    @apply xl:max-w-7xl;
  }
}

@layer components {
  .list-container {
    @apply bg-white rounded-md shadow-md;
  }
  .list-header {
    @apply flex items-center px-4 py-1.5 border-b border-light-grey;
    @apply text-sm font-bold capitalize text-ink;
    & > span {
      @apply ml-1;
    }
  }
  .list-item-container {
    @apply mx-4 py-5 text-sm leading-default;
  }
  .list-datetime {
    @apply text-xs text-dark-grey;
  }
}

@layer components {
  .card-container {
    @apply bg-white rounded-md shadow-md p-4 mt-4 pb-1;
  }
  .card-header {
    @apply border-b border-light-grey pb-2.5;
    @apply text-xl leading-default font-bold capitalize;
    & > span {
      @apply font-light ml-2;
    }
  }
  .card-subheader {
    @apply font-bold text-base text-dark-grey border-b border-light-grey pb-3 capitalize;
    & span {
      @apply font-normal text-black ml-2;
    }
  }
  .card-fieldset {
    @apply md:w-1/2 md:odd:pr-4 md:even:pl-4;
  }
  .card-field {
    @apply flex justify-between items-center border-b border-dashed border-light-grey py-2.5 text-sm;
    @apply md:border-0 md:first:pt-0 md:last:pb-0;

    &[attr-last='true'] {
      @apply last:border-0;
    }

    & > span {
      @apply overflow-ellipsis overflow-hidden;
    }

    & a {
      @apply overflow-ellipsis overflow-hidden;
    }
  }
  .card-label {
    @apply flex items-center flex-shrink-0 mr-2;
    @apply select-none text-sm text-dark-grey capitalize whitespace-nowrap;
  }
}

@layer components {
  .tx-type-badge {
    @apply flex justify-center items-center bg-tag-secondary border border-tag-primary;
    @apply text-tag-primary font-bold capitalize;
    border-radius: 4px;
    font-size: 10px;
    padding: 0 4px;
    height: 17px;
  }
  .script-type-badge {
    @apply tx-type-badge;
  }
}

@layer components {
  .script-code {
    @apply flex w-full text-dark-grey bg-code-bg font-bold text-xs p-1;
  }
}

@layer components {
  .inverted-icon {
    filter: invert(1);
  }
}
