@import './tailwind.presets.css';
@import './components.css';

:root {
  --primary-color: rgb(33, 44, 61);
  --header-height: 69px;
}

main {
  @apply max-w-7xl m-auto;
  margin-bottom: 0;
}
* {
  box-sizing: border-box;
  outline: none;
  cursor: default;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
