@import './tailwind.presets.css';
@import './components.css';

:root {
  --primary-color: rgb(33, 44, 61);
  --header-height: 69px;
}

html,
body {
  background-color: #ededed;
}
main {
  @apply main-container;
  min-height: calc(100vh - 156px);
  padding-top: 56px;
}
* {
  @apply tracking-wide box-border outline-none cursor-default;
}

a {
  @apply no-underline cursor-pointer text-primary;
}
