html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --primary-color: rgb(33, 44, 61);
}

a {
  color: inherit;
  // text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}
