:root {
  --header-height: 64px;
  --footer-height: 200px;
  --search-height: 72px;
  --bg-color: #f5f5f544;
  --main-center-width: 1200px;
  --primary-color: #4c2ce4;
  --primary-text-color: #333;
  --secondary-text-color: #999;
  --border-color: #f0f0f0;
}

html,
body {
  font-size: 16px;
  background: var(--bg-color) !important;

  &[attr-chain-type='testnet'] {
    --primary-color: #2c97e4;
  }
}

body.loading * {
  cursor: progress !important;
}

main,
.full-height {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
}

.mono-font {
  font-family: 'JetBrains Mono', monospace, 'Courier New' !important;
  user-select: all;
}

*::selection {
  color: #fff;
  background-color: #000;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

video::-webkit-media-controls {
  display: none !important;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 56px;
    --footer-height: 192px;
  }
}

@font-face {
  font-family: 'DIN Pro';
  font-weight: 900;
  src: local(''), url('../assets/fonts/D-DIN-PRO-900-Heavy.otf') format('opentype');
}
