@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './tailwind.presets.css';
@import './components.css';

:root {
  --footer-mt: 60px;
  --footer-height: 156px;
  --footer-height-md: 127px;
}

html,
body {
  background-color: #ededed;
  @apply font-sans font-normal overflow-visible;
  font-size: 16px;
}
body.loading * {
  cursor: progress !important;
}
main {
  @apply main-container;
  min-height: calc(100vh - var(--footer-height) - var(--footer-mt));
  padding-top: 56px;
  line-height: 1.2;
}
* {
  @apply tracking-wide box-border outline-none cursor-default;
}

a {
  @apply no-underline cursor-pointer text-secondary;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - var(--footer-height-md) - var(--footer-mt));
  }
}
