:root {
  --header-height: 64px;
  --footer-height: 156px;
  --bg-color: #f5f5f544;
}

html,
body {
  font-size: 16px;
  background: var(--bg-color) !important;
}

body.loading * {
  cursor: progress !important;
}
main,
.full-height {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}
a {
  text-decoration: none;
  cursor: pointer;
}

.mono-font {
  font-family: 'Roboto Mono', monospace, 'Courier New' !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 56px;
    --footer-height: 127px;
  }
}

table thead th {
  white-space: nowrap;
}

video {
  user-select: none;
}
