@import './tailwind.presets.css';
@import './components.css';

:root {
  --primary-color: rgb(33, 44, 61);
  --header-height: 69px;
}

main {
  @apply max-w-7xl m-auto mb-0;
}
* {
  @apply tracking-wide box-border outline-none cursor-default;
}

a {
  @apply underline cursor-pointer;
}
