@mixin main-center {
  width: 100%;
  max-width: var(--main-center-width);
  margin: 0rem auto 5.5rem;
  @media screen and (max-width: 1232px) {
    box-sizing: border-box;
    margin: 0 0 2.75rem;
    padding: 0 1rem;
    max-width: unset;
  }
}

@mixin mono-font {
  font-family: 'JetBrains Mono', monospace, 'Courier New' !important;
  user-select: all;
}

@mixin empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8.25rem 0;
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 400;
  span {
    margin-top: 2rem;
    color: var(--primary-text-color);
  }
  @media screen and (max-width: 1024px) {
    padding: 5.625rem 0;
  }
}
