@mixin relative-inline-block {
  position: relative;
  display: inline-block;
}
@mixin tooltip-content-title {
  content: attr(data-tooltip);
}

.tooltip {
  @include relative-inline-block;
  --tooltip-border-color: #000;
  --tooltip-background-color: #000;
  --tooltip-font-color: #fff;

  display: inline-block;
  font-size: 0.875rem;

  &::before {
    padding: 8px;
    top: -16.5px;
    border-radius: 5px;
    overflow-wrap: break-word;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-font-color);
    user-select: text;
    white-space: normal;
    text-align: center;
    display: none;

    @include tooltip-content-title;
  }
  &::after {
    content: '';
    user-select: text;
    top: 0;
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent;
    display: none;
    border-top-color: var(--tooltip-border-color);
  }

  &:hover::after,
  &:hover::before {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 999;
  }
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
