@import '../../styles/mixin.scss';

.container {
  padding: 1.5rem;
  textarea {
    @include mono-font;
    width: 100%;
    margin: 0;
    padding: 1rem;
    resize: vertical;
    height: 80ch;
    overflow: auto;
    background: #fafafa;
    border-radius: 4px;
    border-color: var(--border-color);
    font-size: 0.875rem;
    color: var(--primary-text-color);
    &:first-of-type {
      margin-bottom: 2rem;
    }
  }
}
